[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Edit text files
Exec=nvr %F
GenericName=Text Editor
Icon=nvim
Keywords=Text;editor;
MimeType=text/x-tex;text/x-pascal;text/x-moc;text/x-makefile;text/x-java;text/x-csrc;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/tcl;text/plain;application/x-shellscript;
Name=Neovim (nvr)
StartupNotify=false
Terminal=true
TerminalOptions=
TryExec=nvr
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
